<table class="question-table" id='<%="#{question.id}"%>'>
  <tr>
    <td class="upvote-downvote">
        <button class="button green">
          <p>&#x261D;</p>
        </button>
      <div class='vote-score-<%="#{question.id}"%>'><% vote_score = (question.votes.where(up_or_down: true).count - question.votes.where(up_or_down: false).count) %><%= vote_score %></div>
      <button class="button red">
          <p>&#x261F;</p>
      </button>
    </td>
    <td class="question-content-column">
      <div class="question-content"><a href="<%="/questions/#{question.id}"%>"><%=question.content%></a></div>
    </td>
  </tr>
</table>


